* {
    box-sizing: border-box;
    margin: 0;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    width: 550px;
    height: 55px;
    background: #F55A5A;
}
header > h2{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 1em;
    line-height: 18px;
    letter-spacing: -0.075em;
    width: 109px;
    height: 16px;
    color: black;
}
.site-logo{
    width: 24px;
    height: 24px;
}

main{
    
}
.container{
    width: 471px;
    margin: 18px auto;
    display: flex;
    font-size: 0.7em;
    font-family: 'Inter';
}
.info-text{
    display: flex;
    justify-content: left;
}
.location-icon{
    width: 7px;
    height: 10px;
}
.location-title{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    letter-spacing: 0.17em;
    color: #2B283A;
    margin-left: 4px;
}
.google-link{
    color: #918E9B;
    margin-left: 12px;
}
.location-image{
    border-radius: 5px;
    width: 125px;
    height: 168px; 
    object-fit: cover;
}
.info-block{
    padding: 20px;
}
h1{
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #2B283A;
    margin: 5px 0 0 0;
}
p{
    line-height: 150%;
    color: #2B283A;
}
.dates{
    margin: 14px 0 9px 0;
}